#logoBar{
  width: 100vw;
  height: 100vh;
}
#siteLogo{
  width: 100%;
}
body {
  display: block;
  width: 100%
}
#staffGallery{
  width: 70vw;
  display: inherit;
}

#rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#leftSide {
  display: flex; 
  justify-content: flex-start; 
  gap: 40px;
  width: 40%; 
}

/* #divideSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
} */

/* Change to vertical alignment*/
#divideSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

#stateModelContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; 
  width: 100%;
  padding: 0 20px;
  gap: 40px;
  text-align: center;
  margin-left: 400px;
}

#redesignImage {
  display: block;
  margin: 20px auto;
  width: 520px;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 10px;
}

.state-image {
  width: 900px;
  margin-bottom: 20px;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1000px;
}

.arrow-icon {
  width: 100px;
  margin: 10px 0;
}

.galleryImage{
  width: 100%;
  height: auto;
  height: 300px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 30%;
  text-align: center; 
}

.column img {
  max-width: 1000px; 
  height: auto; 
  margin-top: 10px;
  margin-bottom: 20px; 
  display: block;
  margin: 10px auto;
  border-radius: 8px;
}

.category img {
  margin-top: 10px;
  margin-bottom: 20px; 
  width: 95%; 
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.underline {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f9e4e1; 
  color: #333; 
  font-size: 20px;
  margin-top: 40px; 
}

h1 {
  font-size: 48px;
  text-align: center; 
  width: 100%; 
  margin: 20px 0; 
  font-family: Optima, sans-serif	;
}
h2 {
  font-size: 40px;
  text-align: center; 
  width: 100%; 
  margin: 20px 0; 
  font-family: Optima, sans-serif	;
}
h3 {
  font-family: Georgia, serif	;
  font-weight: normal;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.text-container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 20px; 
}

ul {
  font-family: Georgia, serif	;
  font-size: 1.2em; 
  font-weight: bold; 
  margin-top: 0.5em;
}
ul ul {
  font-family: Georgia, serif	;
  font-size: 1em; 
  font-weight: normal;
}

li {
  padding-bottom: 5px;
}